#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.app-title {
  font-size: 30px;
  font-weight: 400;
}

.app-subtitle {
  font-size: 20px;
  font-weight: 300;
}

.app-paragraph {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 200;
}


/*
*   Utils
* ============================================ */

.bg-dark{
    background-color: #1d1d1b;
    text-align: left;
}
.bg-dark h2,
.bg-dark p,
.bg-dark a{
    color: #FFF;
}



/*
*   header
* ============================================ */

.app-header {
    position: absolute;
    top:0;
    height: 60px;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    width: 100%;
    padding: 0 5%;
    z-index: 100;
    transition: height .2s ease;
}

/*
*   footer
* ============================================ */

.app-footer{
  height: auto;
  background: #1d1d1b;
  border-top: 1px solid #EEE;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.footer.container{
  padding-top: 10px;
  padding-bottom: 10px;
}
.app-footer .ev-item {
  margin-bottom: 40px;
}

.app-footer .emoji {
  font-size: 10px;
}

.app-footer a,
.app-footer a:link,
.app-footer a:visited{
    color: #FFF;
}

.footer p {
  margin: 0;
}

/*
*   spacings
* ============================================ */
.app-footer{
  margin-top: 100px;
}

.app-waterfall article,
.app-contact article,
.app-event article {
  padding-top: 100px;
}

.app-contact header,
.app-event header,
.app-event .ev-content,
.app-waterfall header {
  padding-bottom: 50px;
}

/*
*   main
* ============================================ */

.app-main {
}




/*
*   logo
* ============================================ */

.logo{
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;

  font-size: 14px;
  line-height: 1.5;
}


/*
*   Main menu
* ============================================ */

.m-nav{
  flex: 1 1 auto;
  display: flex;
}
.m-list{
  margin: auto auto auto 0;
  flex: 1 1 auto;
}
.m-item {
  list-style-type: none;
}

.app-menu{
  height: 100%;
}
.app-menu a{
    color: #FFF;
}
.app-menu a:hover,
.app-menu a:active,
.app-menu a:focus{
    text-decoration:none;
}


/*
*   social menu
* ============================================ */

.sc-list{
  margin: auto;
}

.sc-item{
  margin: auto;
  text-align: center;
  width: 16px;
  height: 16px;
}

.sc-list .ui-icon{
  line-height: 16px;
}

.sc-list .ui-icon::before{
  font-size: .8em;
}

.sc-list li:nth-child(1),
.sc-list li:nth-child(2){
    display: none;
}




/*
*   event
* ============================================ */
.app-event footer,
.app-event .app-title {
  text-align: center;
}

.event-item{}

.ev-fig {
  margin: 0;
  overflow: hidden;
}

.ev-img {
  width: 100%;
  height: auto;
}

.ev-link {
  font-size: 0;
}

.ev-content p{
  text-align: center;
}

.ev-content p:last-child {
  margin-bottom: 0;
}

.ev-content .app-title {
  white-space: nowrap;
}

.ev-content .btn {
  margin: auto;
}


/*rules optimisation*/
.section.event-st-art a {
    white-space: nowrap;
}

/*
*   waterfall
* ============================================ */
.app-waterfall {
  transition: all .6s .2s ease;
}

.app-waterfall header {
  text-align: center;
}

.app-waterfall article {}

.wt-grid {}

.wt-fig {
  animation: anim .8s ease-in-out;
  width: 100%;
  margin: 0;
}

.wt-img {
    width: 100%;
    height: 100%;
}

/*
*   contact me
* ============================================ */
.app-contact article {
  text-align: center;
}
.app-contact .app-title {
  margin-bottom: 20px;
}

.app-contact .btn {
  margin: auto;
}


/*
* ------------------------------------------
*   Media Queries
* ------------------------------------------
*/
@media (min-width: 400px) {
  .app-header {
    height: 90px;
  }
  .logo {
    font-size: 16px;
    line-height: 90px;
  }

  .m-list{
    flex: 0 0 auto;
  }

  .sc-list{
    margin: 0 0 0 auto;
  }

  .sc-item{
      width: 32px;
      height: 32px;
  }

  .sc-list .ui-icon{
    line-height: 32px;
  }

  .sc-list .ui-icon::before{
    font-size: 1em;
  }
}

@media (min-width: 576px) {

  .app-title {
    font-size: 38px;
    font-weight: 300;
  }

  .app-subtitle {
    font-size: 22px;
  }

  .app-paragraph {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 200;
  }

  .header nav{
      width: 78%;
  }

  .header .sc-list{
      width: 64px;
      margin: 0;
  }
  .logo{
      font-size: 20px;
  }

  // .wt-fig {
  //   width: 46%;
  // }

}

@media (min-width: 768px) {
  .logo{
      font-size: 24px;
  }

  .message{
      text-align: center;
      margin: auto auto 50px;
      width: 80%;
  }

  .bg-dark{
      background-color: #1d1d1b;
      text-align: left;
  }

}

@media (min-width: 992px) {

  .app-title {
    font-size: 48px;
    font-weight: 300;
  }

  .app-subtitle {
    font-size: 26px;
    font-weight: 300;
  }

  .app-paragraph {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 200;
  }

  // .wt-fig {
  //   width: 31%;
  // }

  .ev-content p,
  .app-event .app-title {
    text-align: left;
  }
  
}

@media (min-width: 1200px) {

}
