/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */html{color:#333;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.browserupgrade{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.hidden{display:none!important}.visuallyhidden{border:0;clip:rect(0 0 0 0);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;-webkit-clip-path:none;clip-path:none;height:auto;margin:0;overflow:visible;position:static;width:auto;white-space:inherit}.invisible{visibility:hidden}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,:after,:before{background:0 0!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre{white-space:pre-wrap!important}blockquote,pre{border:1px solid #999}thead{display:table-header-group}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}


/*
*   ICOMOON FONT ICONS
* ============================================ */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ftr2l4');
    src:  url('../fonts/icomoon.eot?ftr2l4#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ftr2l4') format('truetype'),
      url('../fonts/icomoon.woff?ftr2l4') format('woff'),
      url('../fonts/icomoon.svg?ftr2l4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.ui-icon{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-icon::before{
    font-size: 1em;
}

.icon-mail_outline:before {
    content: "\e0e1";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-arrow_go_up:before,
.icon-arrow_go_down:before,
.icon-arrow_go_left:before,
.icon-arrow_go_rigth:before {
    content: "\e5c5";
}


/* additionnal rotation */
.icon-arrow_go_up{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.icon-arrow_go_down:before{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.icon-arrow_go_left:before{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.icon-arrow_go_rigth:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

/*
*   small reset
* ============================================ */
html, body{
    padding: 0;
    margin: 0;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1;
}
a, a:link, a:visited{
    text-decoration: none;
    color: #333;
}
a:hover, a:active, a:focus{
    text-decoration: underline;
}
ul{padding: 0;}
li{
    padding: 0;
    list-style-type: none;
}

/*
*   structure
* ============================================ */
.hero{
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh;
}
.section{
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px;
    max-width: 100%;
}
footer{
    height: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
}

/*
*   default text
* ============================================ */
.section{
    text-align: center;
}
header h2{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    line-height: 140%;
    font-weight: 300;
    margin: 20px auto 10px;
}
.section p{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    line-height: 140%;
    font-weight: 300;
    margin: 10px auto 5px;
}
.section .button{
    margin: 0 auto;
}

.bg-dark{
    background-color: #1d1d1b;
    text-align: left;
}
.bg-dark h2,
.bg-dark p,
.bg-dark a{
    color: #FFF;
}
footer p{
    color: #FFF;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin: 30px auto;
}

/*
*   buttons
* ============================================ */
.button{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 30px;
    max-width: 360px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.bn-white.button,
.bn-white.button,
.bn-white.button{
    border-color: #FFF;
    background-color: transparent;
    color: #FFF;
}
.bn-black.button,
.bn-black.button,
.bn-black.button{
    border-color: #333;
    background-color: #000;
    color: #FFF;
}
.bn-white.button:hover,
.bn-white.button:active,
.bn-white.button:focus{
    border-color: #CCC;
    background-color: #FFF;
    color: #333;
    text-decoration: none;
}
.bn-black.button:hover,
.bn-black.button:active,
.bn-black.button:focus{
    border-color: #CCC;
    background-color: #FFF;
    color: #333;
    text-decoration: none;
}


/*
*   header
* ============================================ */
.header{
    position: absolute;
    top:0;
    height: 90px;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    width: 90%;
    margin: 0 5%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header nav{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
.header ul{
    margin: 0;
    margin-right: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
.header a{
    color: #FFF;
}
.header a:hover,
.header a:active,
.header a:focus{
    text-decoration:none;
}



/*
*   footer
* ============================================ */
footer{
    background: #1d1d1b;
    border-top: 1px solid #EEE;
}

footer a,
footer a:link,
footer a:visited{
    color: #FFF;
}




/*
*   logo
* ============================================ */
.logo{
    line-height: 90px;
    color: #FFF;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
}


/*
*   social menu
* ============================================ */
.social-networks,
.social-networks .item{
    margin: 0;
    padding:0;
}
.social-networks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social-networks .item{
    line-height: 90px;
    width: 25%;
    min-width: 32px;
    text-align: center;
}
.social-networks .ui-icon{
    width: 32px;
    height: 32px;
}
.social-networks li:nth-child(1),
.social-networks li:nth-child(2){
    display: none;
}




/*
*   event exception
* ============================================ */
.section#event article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.section#event img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.section#event header{
    width: 40%;
}
.section#event p{
    width: 60%;
    margin-left: auto;
}
.section#event .button{
    margin-left:0;
}



/*rules optimisation*/
.section.event-st-art a {
    white-space: nowrap;
}

/*
*   works
* ============================================ */

/*
 *   works - text
 * -------------------------------------------- */

 .image-swipe-gallery figcaption{
    display: none;
}


/*
*   works - waterfall
* -------------------------------------------- */

.waterfall {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0 auto 100px;
    visibility: visible;
    overflow: hidden;
    position: relative;
    max-width: 960px;
}

.waterfall .item {
    display: inline-block;
    height: auto;
    width: 23%;
    margin: 1%;
    padding: 10px;
    -webkit-animation: anim .8s ease-in-out;
            animation: anim .8s ease-in-out;

    -webkit-transition: left .2s cubic-bezier(0,0,0,.99), top .2s cubic-bezier(0,0,0,.99);
    transition: left .2s cubic-bezier(0,0,0,.99), top .2s cubic-bezier(0,0,0,.99);
}

.waterfall img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

@-webkit-keyframes anim {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes anim {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


/*
* ------------------------------------------
*   Media Queries
* ------------------------------------------
*/
@media only screen and (max-width: 1200px) {
    .section#event header{
        width: 100%;
    }
    .section#event figure{
        margin: 0;
    }
    .section#event p{
        width: 100%;
        margin: 1em auto;
        text-align: left;
    }

}

@media only screen and (max-width: 768px) {

    .logo{
        font-size: 18px;
    }
    .message{
        text-align: center;
        margin: auto auto 50px;
        width: 80%;
    }

    .button{
        height: 72px;
        line-height: 72px;
        font-size: 20px;
        padding: 0;
        margin: auto;
    }

    header h2{
        font-size: 28px;
    }
    .section p{
        font-size: 26px;
        line-height: 120%;
        font-weight: 300;
    }
    .section .button,
    .section.event-st-art p{
        margin: 0 auto;
    }

    .bg-dark{
        background-color: #1d1d1b;
        text-align: left;
    }
    .bg-dark h2,
    .bg-dark p,
    .bg-dark a{
        color: #FFF;
    }
    footer p{
        color: #FFF;
        font-size: 16px;
        text-align: center;
        line-height: 20px;
        margin: 30px auto;
    }
    .section.event-st-art img{
        width: 80%;
        margin-bottom: 50px;
    }


    .waterfall .item {
        width: 31%;
        margin: 1%;
    }


}
@media only screen and (max-width: 560px) {
    .header nav{
        width: 78%;
    }
    .header .social-networks{
        width: 64px;
        margin: 0;
    }
    .logo{
        font-size: 16px;
    }
    .button{
        height: 64px;
        line-height: 64px;
        font-size: 18px;
    }


    .waterfall .item {
        width: 48%;
        margin: 1%;
    }

}


@media only screen and (max-width: 420px) {
    .waterfall .item {
        width: 98%;
        margin: 1%;
    }

}
