:root {
  --color-black: #000;
  --color-white: #fff;
  --color-debug: #906;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
}

h1,
.app-title {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  @screen xsm {
    font-size: 2.25rem;
  }
  @screen lg {
    font-size: 3rem;
  }
}

h2, h3,
.app-subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 200;
  @screen xsm {
    font-size: 1.5rem;
  }
  @screen lg {
    font-size: 1.75rem;
  }
}

h3 {
  font-weight: 400;
}

p,
.app-paragraph {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 200;
  @screen xsm {
    font-size: 1.125rem;
  }
  @screen lg {
    font-size: 1.25rem;
  }
}


ul {
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

/*
* ------------------------------------------
*   Media Queries
* ------------------------------------------
*/
@media (min-width: 768px) {
  .message {
    text-align: center;
    margin: auto auto 50px;
    width: 80%;
  }

  .bg-dark {
    background-color: #1d1d1b;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .ev-content p,
  .app-event .app-title {
    text-align: left;
  }
}
