:root {
  --color-black: #000;
  --color-white: #fff;
  --color-debug: #906;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
}
/* a,
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
} */
ul {
  padding: 0;
}
li {
  padding: 0;
  list-style-type: none;
}




.app-waterfall article,
.app-contact article {
  padding-top: 100px;
}

.app-contact header,
.app-waterfall header {
  padding-bottom: 50px;
}


/*
*   contact me
* ============================================ */
.app-contact article {
  text-align: center;
}
.app-contact .app-title {
  margin-bottom: 20px;
}

.app-contact .btn {
  margin: auto;
}

/*
* ------------------------------------------
*   Media Queries
* ------------------------------------------
*/
@media (min-width: 400px) {
  .app-header {
    height: 90px;
  }
}

@media (min-width: 576px) {
  .app-title {
    font-size: 38px;
    font-weight: 300;
  }

  .app-subtitle {
    font-size: 22px;
  }

  .app-paragraph {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 200;
  }

  .header nav {
    width: 78%;
  }
}

@media (min-width: 768px) {
  .message {
    text-align: center;
    margin: auto auto 50px;
    width: 80%;
  }

  .bg-dark {
    background-color: #1d1d1b;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .app-title {
    font-size: 48px;
    font-weight: 300;
  }

  .app-subtitle {
    font-size: 26px;
    font-weight: 300;
  }

  .app-paragraph {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 200;
  }

  .ev-content p,
  .app-event .app-title {
    text-align: left;
  }
}

@media (min-width: 1200px) {
}
