.container {
  @apply mx-auto;
}


/*
*   buttons
* ============================================ */

.btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 1rem;
  transition: all 0.4s ease-out;
  @apply inline-block p-3 max-w-full w-auto h-auto text-center;

  &-white {
    @apply bg-transparent text-gray-50 border-white;
  
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      @apply bg-white text-gray-900 border-gray-500;
    }
  }

  &-black {
    @apply bg-gray-900 text-gray-50 border-gray-500;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      @apply bg-white text-gray-900;
    }
  }
}

@screen x2sm {
  .btn {
    font-size: 20px;
    padding: 20px 40px;
  }
}
@screen xsm {
  .btn {
    font-size: 26px;
    padding: 30px 60px;
  }
}
@screen xl {
  .btn {
    font-size: 30px;
    padding: 30px 80px;
  }
}
