.container {
  @apply mx-auto;
}


/*
*   buttons
* ============================================ */

.btn {
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: .05rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.4s ease-out;
  @apply inline-block max-w-full w-auto h-auto text-center;

  @screen xsm {
    font-size: 1.5rem;
    padding: 2rem 4rem;
  }
  @screen lg {
    font-size: 1.75rem;
    padding: 3rem 6rem;
  }

  &-white {
    @apply bg-transparent text-gray-50 border-white;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      @apply bg-white text-gray-900 border-gray-500;
    }
  }

  &-black {
    @apply bg-gray-900 text-gray-50 border-gray-500;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      @apply bg-white text-gray-900;
    }
  }
}
