/*
*   ICOMOON FONT ICONS
* ============================================ */

@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.eot?ftr2l4');
  src: url('./assets/fonts/icomoon.eot?ftr2l4#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?ftr2l4') format('truetype'),
    url('./assets/fonts/icomoon.woff?ftr2l4') format('woff'),
    url('./assets/fonts/icomoon.svg?ftr2l4#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.ui-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ui-icon::before {
  font-size: 1em;
}

.icon-mail_outline:before {
  content: '\e0e1';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-arrow_go_up:before,
.icon-arrow_go_down:before,
.icon-arrow_go_left:before,
.icon-arrow_go_rigth:before {
  content: '\e5c5';
}

/* additionnal rotation */
.icon-arrow_go_up {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-arrow_go_down:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-arrow_go_left:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-arrow_go_rigth:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* bg */
.bg-dark {
  background-color: #1d1d1b;
  text-align: left;
}
.bg-dark h2,
.bg-dark p,
.bg-dark a {
  color: #fff;
}

/* object fit rules */
.container-image-cover img {
  @apply w-full h-full object-cover;
}

/* desaturate image within the container
  recolorize image on hover */
.container-image-desaturate {
  img {
    transition: filter 300ms ease;
    filter: saturate(0);
  }
  &:hover img,
  &:active img,
  &:focus img {
    filter: saturate(1);
  }
}

.pge-scroll-block {
  overflow: hidden;
}

/*
*   animation
* ============================================ */

@-webkit-keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
