/* bg */
.bg-dark {
  background-color: #1d1d1b;
  text-align: left;
}
.bg-dark h2,
.bg-dark p,
.bg-dark a {
  color: #fff;
}

/* object fit rules */
.container-image-cover img {
  @apply w-full h-full object-cover;
}

/* desaturate image within the container
  recolorize image on hover */

.is-mouse {

  .container-image-desaturate {

    img {
      transition: filter 300ms ease;
      filter: saturate(0);
    }

    &:hover img,
    &:active img,
    &:focus img {
      filter: saturate(1);
    }
  }
}

.pge-scroll-block {
  overflow: hidden;
}

/*
*   animation
* ============================================ */

@-webkit-keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
