@import "tailwindcss/base";
@import "./_base.css";

@import "tailwindcss/components";
@import "./_components.css";

@import "tailwindcss/utilities";
@import "./_utilities.css";

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-debug: #906;
}

